#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

# --- NIEUWE TOEVOEGINGEN HIER ---
##override_dh_install:
	# Roep de standaard dh_install aan om bestanden uit debian/vop.install te verwerken.
	# Dit zal de documentatie .md bestanden behandelen.
##	dh_install

	# --- Belangrijke wijziging hier: Gebruik mkdir -p voor de specifieke SBOM doelmap ---
	# Dit garandeert dat de volledige directory path bestaat BINNEN de debian/vop/ staging directory
	# voordat 'cp -a' probeert te schrijven.
##	mkdir -p debian/vop/usr/share/doc/vop/sbom

	# --- DEBUGGING VOOR SBOM BESTANDEN ---
##	echo "--- DEBUGGING SBOM FILES BEFORE CP ---"
##	echo "Source file status for manifest.spdx.json:"
##	ls -ld _manifest/spdx_2.2/manifest.spdx.json || echo "Source file manifest.spdx.json NOT FOUND!"
##	echo "Source file content for manifest.spdx.json (first 10 lines):"
##	head _manifest/spdx_2.2/manifest.spdx.json || true # Use || true to avoid failing if file is empty
##	echo "Source file status for manifest.spdx.json.sha256:"
##	ls -ld _manifest/spdx_2.2/manifest.spdx.json.sha256 || echo "Source file manifest.spdx.json.sha256 NOT FOUND!"
##	echo "Source file content for manifest.spdx.json.sha256 (first 10 lines):"
##	head _manifest/spdx_2.2/manifest.spdx.json.sha256 || true
##	echo "--------------------------------------"

	# Kopieer de SBOM bestanden expliciet naar hun eindbestemming en naam.
	# We gebruiken 'cp' in plaats van 'install' om eventuele ambiguïteit te vermijden
	# over of het een bestand of directory moet zijn.
	# We kopiëren DIRECT naar de uiteindelijke naam.
##	cp -a _manifest/spdx_2.2/manifest.spdx.json debian/vop/usr/share/doc/vop/sbom/vop.spdx.json
##	cp -a _manifest/spdx_2.2/manifest.spdx.json.sha256 debian/vop/usr/share/doc/vop/sbom/vop.spdx.json.sha256

	# --- DEBUGGING NA CP ---
##	echo "--- DEBUGGING SBOM FILES AFTER CP ---"
##	echo "Destination file status for vop.spdx.json:"
##	ls -ld debian/vop/usr/share/doc/vop/sbom/vop.spdx.json
##	echo "Destination file status for vop.spdx.json.sha256:"
##	ls -ld debian/vop/usr/share/doc/vop/sbom/vop.spdx.json.sha256
##	echo "-------------------------------------"

# --- OVERRIDE DH_COMPRESS OM SBOM BESTANDEN UIT TE SLUITEN (OF TE SPECIFICEREN) ---
# Dit is cruciaal om te voorkomen dat de SBOM bestanden ongewenst gecomprimeerd worden
# of om te specificeren hoe ze gecomprimeerd moeten worden.
##override_dh_compress:
	# Voer de standaard compressie uit voor alle documentatie die dh_compress normaal pakt.
	# Sluit expliciet de SBOM bestanden uit van compressie.
##	dh_compress --exclude=usr/share/doc/vop/sbom/vop.spdx.json --exclude=usr/share/doc/vop/sbom/vop.spdx.json.sha256

	# --- DEBUGGING NA DH_COMPRESS ---
##	echo "--- DEBUGGING SBOM FILES AFTER DH_COMPRESS ---"
	# Controleer de inhoud van de SBOM map in de staging directory na compressie
##	ls -l debian/vop/usr/share/doc/vop/sbom/
##	echo "----------------------------------------------"

	# OPTIONEEL: Als je ze juist WEL gecomprimeerd wilt, maar onder de juiste namen,
	# verwijder dan de --exclude van de dh_compress regel hierboven en voeg deze regels toe:
	# gzip debian/vop/usr/share/doc/vop/sbom/vop.spdx.json || true
	# gzip debian/vop/usr/share/doc/vop/sbom/vop.spdx.json.sha256 || true 

# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)



